body
{
	background-image: url("img/background.png");
	/*This pattern is downloaded from www.subtlepatterns.com*/
	margin: 0px !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.nav
{
	width: 100%;
	height: 50px;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	font-weight: 700;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
.logo
{
	font-size: 16px;
	padding-top: 16px;
	padding-left: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 300px;
	float: left;
	display: block;
}
.logo:hover
{

}
.menu
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	padding: 0;
	margin: 0px;
}
ol
{
	list-style-type: none;
	padding: 0;
	margin: 0px;
}
ol a
{
	text-decoration: none;
	color: black;
}
ol > li
{
	padding: 0 10px;
	display: inline-block;
	height: 34px;
	padding-top: 16px;
}
ol > li:hover
{
	color: #1e627a;
}

.container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.decrip
{
	padding: 20px 20px;	
	text-align: center;
	color: #696969;
}
h1
{
	font-size: 30px;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 0;
}
h2
{
	padding: 0 0;
	font-size: 20px;
	font-weight: 900;
	color: #696969;
}

.pic
{	
	float: left;
	text-align: right;
	width: 470px;
	padding: 0 20px 0 0;
}
.pic img
{
	margin-top: 30px;
	background-color: white;
	border-radius: 20%;
	border: 1px solid gray;
  	padding: 5px;
}
.pic img:hover 
{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.about
{
	float: left;
	width: 350px;
	margin-top: 40px;
	text-align: justify;
}
.lorem
{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
.footer
{
	width: 100%;
	position: fixed;
    bottom: 0;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    color: #696969;
}
.copy
{
	float: left;
	padding: 13px;
}
.socials
{
	float: right;
}

.sociallink
{
	float: right;
	width: 50px;
	font-size: 18px;
	padding: 8px;
}
.sociallink a
{
	color: #696969;
}

a 
{
	text-decoration: none;
	color: black;
}
a:hover
{
	color: #2f738a;
}
/*font-family: 'Open Sans', sans-serif;*/
