body
{
	/*background: url(https://images.unsplash.com/photo-1543782248-03e2c5a93e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);*/
	background: url("img/bg_deer.jpg"); /*Photo by Asa Rodger on Unsplash*/
	background-size: cover;
	background-position:center;
	background-repeat:no-repeat;
	/* background-image: url("img/background.png");
	This pattern is downloaded from www.subtlepatterns.com*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
html
{
	height: 100%;
}
nav
{
	/*overflow: auto;*/
	font-family: 'Lato', sans-serif;
}
.navbar
{
	padding-left: 0;
	
}
.nav-link
{
	padding-top: .25em;
}
.navbar-brand
{
	padding: 0;
	
}
#about
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 5%;
    padding-bottom: 35%;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4),
                 0px 8px 20px rgba(0,0,0,0.1),
                 0px 18px 30px rgba(0,0,0,0.1);
    
}
/*
.nav
{
	width: 100%;
	height: 50px;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	font-weight: 700;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}*/


.footer
{
	width: 100%;
	position: fixed;
    bottom: 0;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    color: seashell;
}
.copy
{
	float: left;
	padding: 13px;
}
.socials
{
	float: right;
}

.sociallink
{
	float: right;
	width: 50px;
	font-size: 18px;
	padding: 8px;
}
.sociallink a
{
	color:seashell;
}

.sociallink a
{
	text-decoration: none;
}
.sociallink a:hover
{
	color: lightgray;
}

/*font-family: 'Open Sans', sans-serif;*/