body
{
	background: url("img/bg_deer.jpg"); 
	/*Photo by Asa Rodger on Unsplash*/
	background-size: cover;
	background-position:center;
	background-repeat:no-repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
html
{
	height: 100%;
}
nav
{
	font-family: 'Lato', sans-serif;
}
.nav-link
{
	padding-top: .25em;
}
/*--------Jumbotron properties-------*/
.jumbotron
{
	background: none;
	margin-top: 60px;
    padding: 2rem 2rem;
	font-weight: 700;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.2),
                 0px 6px 4px rgba(0,0,0,0.1),
                 0px 10px 6px rgba(0,0,0,0.1);
}
.projectJumbo{
	text-shadow: none;
}
.display-5
{
	font-size: 48px;
}
.lead
{
	font-size: 30px;
}
@media (max-width: 600px) 
{
	.jumbotron
	{
		padding-left: 0px;
		margin-top: 50px;
		text-shadow: none;
	}
	.display-5
	{
		font-size: 8vw !important;
	}
	.lead
	{
		font-size: 5vw;
	}
}

/*--------cards in projects-------*/

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/*--------content properties-------*/
#about
{
	text-align: center;
	padding-top: 5%;
    padding-bottom: 35%;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2),
                 0px 1px 4px rgba(0,0,0,0.1),
                 0px 1px 4px rgba(0,0,0,0.1);
	margin-top: 10vw;
	padding-bottom: 0;
}
#about img
{
	border-radius: 10%;
	border: 1px solid lightgray;
	transition: all 0.6s;
    -webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	cursor: pointer;
}
#about img:hover
{
	transform: scale(0.99);
}
#description
{
	text-align: left;
}
#description p
{
	font-size:  0.9rem;
	text-align: justify;
	text-shadow: none;
	font-weight: 500;
}
@media (max-width: 575px) 
{
	#about
    	{
	    	margin-top: 55px;
		}
	#description
		{
			text-align: center;
		}
	#description p
		{
			padding: 10px;
			font-size:  0.8rem;
		}
}

/*----------------footer properties------------------*/
.footer	{
	width: 100%;
	position: fixed;
    bottom: 0;
    height: 40px;
    font-size: 10px;
    font-weight: 700;
    color: seashell;
}
.copy	{
	float: left;
	padding: 13px;
}
.socials	{
	float: right;
}
.sociallink	{
	float: right;
	width: 50px;
	font-size: 18px;
	padding: 8px;
}
.sociallink a	{
	color:seashell;
	text-decoration: none;
}
.sociallink a:hover	{
	color: dimgray;
}

@media (max-width: 350px)	{
	.sociallink	{
		font-size: 14px;
		padding: 4px;
		width: 30px;
	}
}