
.icon-code-1:before { content: '\e800'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */