/*Common*/
*
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

*,
*::before,
*::after
    box-sizing: border-box
    padding: 0
    margin: 0

html
    font-family: 'Lato', sans-serif
    font-size: 16px
    color: #555
    background-color: #f7f7f7

nav,
ul
    list-style: none

a
    text-decoration: none
    opacity: 0.75
    color: #000
    transition: 0.5s ease-in-out

a:hover
    opacity: 1

a.disabled
    opacity: 1
    pointer-events: none
    cursor: default
    color: rgb(33, 190, 12)

.btn
    border-radius: 4px
    color: rgb(53, 53, 53)
    font-size: 0.9rem
    border: 1px solid rgb(53, 53, 53)
    opacity: 1
    margin-top: 20px
    padding: 6px 6px
    transition: 0.5s ease-in-out

.btn-contact
    margin: 10px

.btn:hover
    border: 1px solid rgb(48, 189, 30)
    color: black
    opacity: 0.8

.btn:active
    border-color: transparent

section
    display: flex
    flex-direction: column
    align-items: center
    border-top: 1px solid rgba(201, 198, 198, 0.7)
    margin-bottom: 20px

    .title
        text-transform: capitalize
        font: 1.3rem "Open Sans", sans-serif
        margin: 30px
        text-align: center

    p
        max-width: 610px
        line-height: 1.5
        margin: 0 30px 20px 30px
        text-align: center
        font-size: 0.9rem
        text-align: justify

    img#avt
        margin: 20px
        width: 90%
        max-width: 350px
        border-radius: 10px
        border: 1px solid rgba(201, 198, 198, 0.7)

@media all and (min-width: 600px)
    section
        p
            font-size: 1.05rem
            text-align: center

        .title
            font-size: 1.5rem

        img#avt
            margin: 0
            width: 40vh
            max-width: 500px
            border-radius: 10px
            border: 1px solid rgba(201, 198, 198, 0.7)

    .btn
        font-size: 1rem
        padding: 10px 10px
        margin: 10px

@media all and (min-width: 950px)
    section
        p
            max-width: 850px
